In [13]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from tensorflow.keras.preprocessing import sequence, text
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, Activation
from tensorflow.keras.layers import Embedding, LSTM
from tensorflow.keras.layers import Conv1D, Flatten, MaxPooling1D, GlobalMaxPooling1D
from tensorflow.keras import Model

In [5]:
data = pd.read_csv('data_preprocessed.csv')

In [7]:
data.drop('Unnamed: 0', axis=1,inplace=True)
data.head()

     image_name                                     text_corrected  labels
0   image_1.jpg  look friend lightyear sohalikut trend play yea...       0
1  image_2.jpeg  best yearchallenge completed le year kudu nare...       0
2   image_3.JPG  sam thorne strippin follow follow saw everyone...       0
3   image_4.png                  year challenge sweet dee edition        2
4   image_5.png  year challenge filter hilarious year challenge...       2

In [8]:
x = data['text_corrected']
y = data['labels']

In [10]:
print(len(x),len(y))

6987 6987

In [11]:
x[:5]

0    look friend lightyear sohalikut trend play yea...
1    best yearchallenge completed le year kudu nare...
2    sam thorne strippin follow follow saw everyone...
3                    year challenge sweet dee edition
4    year challenge filter hilarious year challenge...
Name: text_corrected, dtype: object

In [12]:
y[:5]

0    0
1    0
2    0
3    2
4    2
Name: labels, dtype: int64

In [15]:
x_train,x_test,y_train, y_test = train_test_split(x,y)

In [18]:
print("train size: " , len(x_train),len(y_train))
print("test size: " , len(x_test),len(y_test))

train size:  5240 5240
test size:  1747 1747