In [19]:
import re
import string
import numpy as np 
import pandas as pd 
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize
from sklearn.preprocessing import LabelEncoder

In [20]:
data = pd.read_csv('data.csv')

In [21]:
data.drop('Unnamed: 0',axis=1,inplace=True)

In [22]:
data.head()

,image_name,text_corrected,labels
0,image_1.jpg,LOOK THERE MY FRIEND LIGHTYEAR NOW ALL SOHALIK...,not_offensive
1,image_2.jpeg,The best of #10 YearChallenge! Completed in le...,not_offensive
2,image_3.JPG,Sam Thorne @Strippin ( Follow Follow Saw every...,not_offensive
3,image_4.png,10 Year Challenge - Sweet Dee Edition,very_offensive
4,image_5.png,10 YEAR CHALLENGE WITH NO FILTER 47 Hilarious ...,very_offensive

In [23]:
data.dropna(inplace= True)

In [24]:
data.isna().sum()

image_name        0
text_corrected    0
labels            0
dtype: int64

In [25]:
def cleanTextAndTokenize(text):
        stop_words= stopwords.words('english')
        lem = WordNetLemmatizer()
        text = re.sub('[^A-Za-z]+', ' ', text).lower()
        text= "".join([i.lower() for i in text if i not in string.punctuation])
        tokens = word_tokenize(text)
        cleanText = ''
        for token in tokens:
            if(token not in stop_words):
                cleanText+=lem.lemmatize(token) + " "
        return cleanText

In [26]:
data['text_corrected'] = data['text_corrected'].apply(cleanTextAndTokenize)

In [27]:
data.head()

,image_name,text_corrected,labels
0,image_1.jpg,look friend lightyear sohalikut trend play yea...,not_offensive
1,image_2.jpeg,best yearchallenge completed le year kudu nare...,not_offensive
2,image_3.JPG,sam thorne strippin follow follow saw everyone...,not_offensive
3,image_4.png,year challenge sweet dee edition,very_offensive
4,image_5.png,year challenge filter hilarious year challenge...,very_offensive

In [28]:
data['text_corrected'][:5]

0    look friend lightyear sohalikut trend play yea...
1    best yearchallenge completed le year kudu nare...
2    sam thorne strippin follow follow saw everyone...
3                    year challenge sweet dee edition
4    year challenge filter hilarious year challenge...
Name: text_corrected, dtype: object

In [29]:
le=  LabelEncoder()

In [30]:
data['labels']  = le.fit_transform(data['labels'])

In [31]:
# 0 - not offensive
# 1 - slight
# 2 - very offensive
data.head()

     image_name                                     text_corrected  labels
0   image_1.jpg  look friend lightyear sohalikut trend play yea...       0
1  image_2.jpeg  best yearchallenge completed le year kudu nare...       0
2   image_3.JPG  sam thorne strippin follow follow saw everyone...       0
3   image_4.png                  year challenge sweet dee edition        2
4   image_5.png  year challenge filter hilarious year challenge...       2

In [32]:
data.to_csv('data_preprocessed.csv')

In [33]:
np.save('classes.npy', le.classes_)